/* ------------------ Project Images ---------------------- */

/* ---- Perceptive datascapes ---- */
#pc-wallpaper{
    background-image: url(../images/perceptiveDatascapes/nightlights.png);
    background-size: cover;
    background-position: center;   
    background-repeat: no-repeat;
}
#pc-grid{
    background-image: url(../images/perceptiveDatascapes/axonometric1.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;   
    background-repeat: no-repeat;
}
#pc-grid1{
    background-image: url(../images/perceptiveDatascapes/isovist.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;   
    background-repeat: no-repeat;
}
#pc-grid2{
    background-image: url(../images/perceptiveDatascapes/evaluations.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;   
    background-repeat: no-repeat;
}
#pc-grid3{
    background-image: url(../images/perceptiveDatascapes/intensity.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;   
    background-repeat: no-repeat;
}
#pc-full-image{
    background-image: url(../images/perceptiveDatascapes/pctop.png);
    background-size: cover;
    background-position: center;   
    background-repeat: no-repeat;    
}
#pc-full-image1{
    background-image: url(../images/perceptiveDatascapes/modelssmall.png);
    background-size: contain;
    background-position: center;   
    background-repeat: no-repeat;    
    /* margin: 20vh 0; */
  
}
#pc-full-image2{
    background-image: url(../images/perceptiveDatascapes/surfaces.png);
    background-size: contain;
    background-position: center;   
    background-repeat: no-repeat;   
}
#pc-offset-image{
    background-image: url(../images/perceptiveDatascapes/finalgeom.jpg);
    background-size: cover;
    background-position: center;   
    background-repeat: no-repeat;    
}


/* ---- Urban Growth ---- */
#ug-wallpaper{
    background-image: url(../images/urbanGrowth/Picture1.png);
    background-size: cover;
    background-position: center;   
    background-repeat: no-repeat;
}
#ca1{
    background-image: url(../images/urbanGrowth/untitled.67.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;   
    background-repeat: no-repeat;
}
#ca2{
    background-image: url(../images/urbanGrowth/untitled.71.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;   
    background-repeat: no-repeat;
}
#ca3{
    background-image: url(../images/urbanGrowth/untitled.68.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;   
    background-repeat: no-repeat;
}
#ca4{
    background-image: url(../images/urbanGrowth/untitled.69.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;   
    background-repeat: no-repeat;
}
#ug-full-image{
    background-image: url(../images/urbanGrowth/fullscreenimage.png);
    background-size: cover;
    background-position: center;   
    background-repeat: no-repeat;  
    
}
#ug-full-image1{
    background-image: url(../images/urbanGrowth/layout1.png);
    background-size: contain;
    background-position: center;   
    background-repeat: no-repeat;  
    
}
#ug-full-image2{
    background-image: url(../images/urbanGrowth/falcon.png);
    background-size: cover;
    background-position: center;   
    background-repeat: no-repeat;  
    
}



/* ---- Geospatial Analytics ---- */
#gi-wallpaper{
    background-image: url(../images/geospatialInfographics/dataAnalytics.jpg);
    background-size: cover;
    background-position: center;   
    background-repeat: no-repeat;
}


#gi-grid{
    background-image: url(../images/geospatialInfographics/ligthing.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;   
    background-repeat: no-repeat;
}
#gi-grid1{
    background-image: url(../images/geospatialInfographics/kmeanspcacombined.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;   
    background-repeat: no-repeat;
}
#gi-grid2{
    background-image: url(../images/geospatialInfographics/tsnevisual.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;   
    background-repeat: no-repeat;
}
#gi-grid3{
    background-image: url(../images/geospatialInfographics/pca1.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;   
    background-repeat: no-repeat;
}

#gi-full-image1{
    background-image: url(../images/geospatialInfographics/axodata1.png);
    background-size: contain;
    background-position: center;   
    background-repeat: no-repeat;  
}

#gi-full-image2{
    background-image: url(../images/geospatialInfographics/mapspurple.jpg);
    background-size: contain;
    background-position: center;   
    background-repeat: no-repeat;  
}

#gi-full-image{
    background-image: url(../images/geospatialInfographics/all\ to\ all\ cyan.png);
    background-size: contain;
    background-position: center;   
    background-repeat: no-repeat;  
}

/* ---- Rawbot ---- */
#ra-wallpaper{
    background-image: url(../images/rawbot/20180901_Render5.jpg);
    background-size: cover;
    background-position: center;   
    background-repeat: no-repeat;
}

#ra-grid{
    background-image: url(../images/rawbot/DSCF7856.JPG);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;   
    background-repeat: no-repeat;
}
#ra-grid1{
    background-image: url(../images/rawbot/DSCF7849.JPG);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;   
    background-repeat: no-repeat;
}
#ra-grid2{
    background-image: url(../images/rawbot/DSCF7856.JPG);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;   
    background-repeat: no-repeat;
}
#ra-grid3{
    background-image: url(../images/rawbot/untitled.1273.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;   
    background-repeat: no-repeat;
}

#ra-full-image1{
    background-image: url(../images/rawbot/20180313_AR-03.jpg);
    background-size: cover;
    background-position: bottom;   
    background-repeat: no-repeat;  
}

#ra-full-image2{
    background-image: url(../images/rawbot/20180901_Render2.jpg);
    background-size: contain;
    background-position: center;   
    background-repeat: no-repeat; 
     
}

#ra-full-image3{
    background-image: url(../images/rawbot/IMG_94991.jpg);
    background-size: contain;
    background-position: center;   
    background-repeat: no-repeat; 
    background-color: white;
}


#ra-full-image{
    background-image: url(../images/rawbot/wholeStructure.1367.png);
    background-size: contain;
    background-position: center;   
    background-repeat: no-repeat;  
}
#ra-full-image4{
    background-image: url(../images/rawbot/20180829_Render.jpg);
    background-size: cover;
    background-position: center;   
    background-repeat: no-repeat;  
}

#ra-grid4{
    background-image: url(../images/rawbot/untitled.1430.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;   
    background-repeat: no-repeat;
}
#ra-grid5{
    background-image: url(../images/rawbot/untitled.1433.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;   
    background-repeat: no-repeat;
}
#ra-grid6{
    background-image: url(../images/rawbot/untitled.1437.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;   
    background-repeat: no-repeat;
}
#ra-grid7{
    background-image: url(../images/rawbot/untitled.1443.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;   
    background-repeat: no-repeat;
}

