:root {
    --background-colour: rgb(255, 255, 255);
    --background-colour-dark: rgb(25, 27, 27);
    --highlight-colour: rgb(177, 177, 177);
    --section-background: #f2f2f2;
    --creation-colour: yellow;
    --modification-colour: lightgray;
    --deletion-colour: red;
    /* --colour-link: lightgray; */
    --colour-link: rgb(90, 90, 90);
    --color-link-hover: rgb(163, 163, 163);
    --button-border: 0.2rem;
    --input-border: 0.1rem;
    --light-border: 0.05rem;
    --text-colour: rgb(0, 0, 0);
    /* --text-colour: rgb(255, 255, 255); */
    --font-family-title: "Montserrat", sans-serif;
    --font-family-subtitle: "Montserrat", sans-serif;
    --font-family-button: "Montserrat", sans-serif;
    --font-family-input: "Montserrat", sans-serif;
    --font-family-description: "Montserrat", sans-serif;
    --font-size-button: 0.7rem;
    --offset: 1rem;
}

/*-------------------- TAG STYLES --------------------*/

body {
    font-family: var(--font-family-description);
    line-height: 1.5;
    background-color: var(--background-colour);
    margin: 0;
    height: 100vh;
    overflow-x: hidden;
}
.body-restriction {
    overflow: hidden;
}

.scroll-container {
    /* Always force (mandatory) scrolling to a snap point on the y-axis */
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.scroll-item {
    scroll-snap-align: start;
    scroll-snap-stop: normal;
}

/* disable selection highlight */
::selection {
    color: none;
    background: none;
}
/* For Mozilla Firefox */
::-moz-selection {
    color: none;
    background: none;
}

section {
    height: 100vh;
    scroll-snap-align: center;
    z-index: 1;
    width: 100vw;
    background-color: var(--background-colour);
}

header {
    display: flex;
}

h1 {
    font-family: var(--font-family-title);
    color: var(--text-colour);
    position: relative;
    display: block;
    margin: 0 0 0 0;
    font-size: 4vw;
    font-weight: 100;
    letter-spacing: 0.1em;
    z-index: 1;
    /* text-shadow: 0px 1px 1px rgb(94, 94, 94); */
}

h2 {
    font-family: var(--font-family-title);
    font-weight: 100;
    color: var(--text-colour);
    margin: 0;
    margin-top: 2.5rem;
}

h3 {
    /* color: var(--colour-link); */
    font-weight: bold;
    font-family: var(--font-family-title);
    margin: 0;
    z-index: 2;
}

h4 {
    color: var(--colour-link);
    font-weight: bolder;
    font-size: 3rem;
    font-family: var(--font-family-title);
    margin: 0 15vw;
    z-index: 2;
}

h5 {
    margin: 0;
    color: var(--color-link-hover);
    font-size: 0.8rem;
    font-weight: 100;
    font-family: var(--font-family-subtitle);
    margin-top: 5px;
}

h6 {
    margin: 0;
    color: var(--colour-link);
    font-size: 1rem;
    font-weight: 100;
    font-family: var(--font-family-subtitle);
}

input:focus,
.btn:focus {
    outline: none;
}

p {
    color: var(--text-colour);
    font-family: var(--font-family-description);
}

p > a {
    font-family: var(--font-family-description);
    font-size: normal;
    font-weight: 200;
    text-decoration: none;
}

a {
    font-family: var(--font-family-description);
    font-size: normal;
    font-weight: 200;
    text-decoration: none;
}
.inactiveLink {
    pointer-events: none;
    cursor: default;
}

/*-------------------- CONTAINERS --------------------*/

.hidden {
    display: none !important;
}

.free-space {
    width: 100vw;
    height: 20vh;
    background-color: white;
}

.free-space-s {
    width: 100vw;
    height: 5vh;
    background-color: white;
}
.projects-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 0 10% 10% 10%;
}
/*-------------------- NAVIGATION MENU --------------------*/

#siteNav ul {
    text-align: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#siteNav ul li {
    display: inline;
}

#siteNav ul li a {
    margin-left: 10px;
    padding: 8px 15px;
    color: var(--colour-link);
    /* color: var(--colour-link); */
    text-decoration: none;
    /* text-transform: uppercase; */
    font-size: 1em;
    transition: all 0.5s;
    /* border: 1px solid var(--colour-link); */
}

#siteNav ul li a:hover {
    background: var(--color-link);
    color: var(--color-link-hover);
}

#siteNav ul li a.active {
    border-bottom: thin;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 3;
    padding: 1rem;
    background-color: white;
}
.logo {
    width: 5vw;
    height: 5vw;
    padding: 0.5rem;
    border: 1px solid var(--text-colour);
    /* margin-left: 1rem; */
    min-height: 5em;
    min-width: 5em;
    max-width: 7em;
    max-height: 7em;
}
.logo-w {
    border: 1px solid white;
}
.logo img {
    width: 80px;
    margin-left: 20px;
}
.menu {
    display: flex;
    /* align-items: center; */
    overflow: hidden;
    /* flex-grow: 1; */
    justify-content: flex-end;
}

.menu a {
    margin: 0 20px;
    padding: 0 10px;
    float: left;
    display: block;
    color: var(--colour-link);
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}

.menu a:hover {
    color: var(--color-link-hover);
}

.menu a.active {
    text-decoration: underline;
}

.menu .icon {
    display: none;
    margin: 0;
}
.fa {
    font-size: x-large !important;
}

@media screen and (max-width: 600px) {
    .menu a {
        display: none;
    }
    .menu a.icon {
        float: right;
        display: flex;
        /* background-color: var(--highlight-colour); */
        width: 2rem;
        height: 2rem;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .menu.responsive {
        position: relative;
        flex-direction: column;
        padding: 0 3rem 0 0;
        margin-bottom: 1rem;
    }
    .menu.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        width: 2rem;
        height: 2rem;
        margin-top: 1rem;
    }
    .menu.responsive a {
        float: none;
        display: block;
        text-align: left;
        height: auto;
        margin: 0;
    }
    .menu.responsive a:not(:last-child) {
        margin-top: 0.5rem;
    }
    .menu.responsive a:first-child {
        margin-top: 2rem;
    }
}

/*-------------------- SCROLLBAR --------------------*/

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
    /* border: 1px solid white; */
}

::-webkit-scrollbar-thumb {
    background: rgb(141, 141, 141);
    border: 1px solid rgb(141, 141, 141);
}

div {
    scrollbar-color: rgb(141, 141, 141) white;
    scrollbar-width: thin;
    scrollbar-width: 6px;
}

::-ms-scrollbar-track {
    background: #ffffff;
    /* border: 1px solid white; */
}

::-ms-scrollbar-thumb {
    background: rgb(141, 141, 141);
    /* border: 1px solid white; */
}

/* GRID OF IMAGES */

/* direction aware :hover */

*,
*:before,
*:after {
    box-sizing: border-box;
}

img,
a {
    display: block;
    height: 100%;
    width: 100%;
}

img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    max-width: 90em;
    width: 100vw;
    padding: 0;
    margin: 0;
    height: max-content;
}

.grid li {
    flex: 1 1 22vw;
    list-style-type: none;
    min-width: 20em;
    min-height: 10em;
    max-width: 500px;
    max-height: 290px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid li:hover ~ li:last-child:after,
.grid li:last-child:hover:after,
.grid li:hover ~ li:last-child:before,
.grid li:last-child:hover:before {
    opacity: 1;
    transition: 1s ease;
}
.grid li:last-child:after,
.grid li:last-child:before {
    content: "";
    position: absolute;
    width: 20%;
    height: 20%;

    pointer-events: none;
    opacity: 0;
}

.grid li:last-child:after {
    mix-blend-mode: multiply;
}

.hovered-project {
    mix-blend-mode: multiply;
    position: absolute;
    z-index: 2;
    top: 0;
    padding: 2%;
    transition: opacity 1s, transform 1s 1s, background 1s, top 2s, left 2s;
}
.polygon-background {
    background: none;
    width: 100%;
    height: 100%;
    transition: background 3s;
}

li .project-title {
    font-family: "Unica One", sans-serif;
    font-size: 1.25rem;
    position: relative;
    display: block;
    text-align: center;
    top: -50%;
    left: 0;
    width: auto;
    margin: auto;
    color: white;
    z-index: 100;
    opacity: 0;
    transform: translate3d(0, -50%, 0);
    transition: 0.3s 0s;
    text-shadow: 1px 1px rgb(37, 37, 37);
}

li:hover .project-title {
    transition: 0.6s 0.3s;
}

/* ------------------ POPUP --------------- */
.popup {
    position: fixed;
    top: 8vh;
    left: 0;
    margin-left: 10vw;
    width: 80vw;
    height: 88vh;
    min-width: 600px;
    min-height: 500px;
    background-color: var(--background-colour);
    z-index: 200;
    display: flex;
    /* flex-direction: column; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* opacity: 0;
    transform: scale(0.6);
    transition: opacity 250ms 250ms ease, transform 300ms 250ms ease; */
}
.popup:focus,
.popup:focus-visible {
    /* opacity: 1;
    transform: scale(1);   */
    outline: none;
    /* transition: opacity 250ms 250ms ease, transform 300ms 250ms ease;  */
}
.popup-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45%;
}
.project-popup {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 55% 1fr;
    /* grid-gap: 1rem; */
    /* padding: 1em 5em 5em 5em; */
    grid-auto-flow: dense;
    position: relative;
    height: 100%;
    width: 100%;
}
.popup-content {
    display: flex;
    align-items: flex-end;
    grid-row: 1;
    grid-column: 1;
    padding-bottom: 11%;
    display: flex;
    justify-content: center;
    /* padding-left: 1rem; */
    /* padding: 5em 5em 0 5em;
    height: 20%;
    display: flex;
    align-items: flex-end; */
}
.popup-content h2{
    text-shadow: 1px 1px #b5b5b5;
}
.x-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-image: url(../images/icons/close-white-24dp.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    border: none;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0);
    z-index: 200;
    /* mix-blend-mode: exclusion; */
}
.x-btn:active {
    outline: none;
}
.x-btn:hover {
    width: 35px;
    height: 35px;
}

.popup-description {
    grid-row: 2;
    grid-column: 2;
    text-align: justify;
    padding-right: 1rem;
    font-weight: 400;
    font-size: 0.8rem;
    overflow-y: auto;
}
.popup-quote {
    grid-row: 2;
    grid-column: 1;
    display: flex;
    justify-content: center;
    color: var(--background-colour-dark);
    /* align-items: center; */
}

.popup-quote h3 {
    font-style: italic;
}

.popup-title {
    font-weight: 700;
    font-size: 3.5em;
    color: white;
    margin-top: 0;
    /* mix-blend-mode: exclusion; */
}
mark {
    background-color: black;
    color: white;
}
@media screen and (max-width: 800px) {
    .popup {
        min-width: 300px;
        margin: 0;
        width: 100vw;
        top: 6em;
        left: 0 !important;
        /* height: 88vh !important; */
    }

    .popup-description {
        font-size: small;
        padding: 2rem;
        background-color: white;
    }

    .projects-container {
        padding: 0;
    }

    .project-title {
        opacity: 1;
    }

    .project-popup {
        display: block;
        position: relative;
        width: 100%;
        overflow-y: auto;
    }

    .popup-content {
        padding-bottom: 0;
    }

    .popup-quote {
        color: white;
    }
}
.share-project {
    grid-row: 2;
    grid-column: 3;
    padding-right: 2rem;
    padding-bottom: 2rem;    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    flex-grow: 1;
}
.share-project p {
    margin: 0;
    font-size: 0.7rem;
}
.project-next{
display: flex;
justify-content: flex-end;
}
.project-utils p{
    font-size: 0.6rem;
    /* font-family: monospace; */
}

.project-utils span{
    font-size: 0.8rem;
    font-family: monospace;
}

.project-utils {
    grid-row: 1;
    grid-column: 3;
    padding: 2rem;
    padding-left: 4rem;
    /* padding-bottom: 2rem; */
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: flex-end;
}

.logo {
    /* position: absolute;
    top: 25px;
    left: 25px; */
    display: block;
    z-index: 1000;
    transition: all 250ms linear;
}
.logo img {
    height: 26px;
    width: auto;
    display: block;
    filter: brightness(10%);
    transition: filter 250ms 700ms linear;
}
.modal-btn:checked ~ .logo img {
    filter: brightness(100%);
    transition: all 250ms linear;
}
@media screen and (max-width: 500px) {
    .modal-wrap {
        width: calc(100% - 40px);
        padding-bottom: 15px;
    }
    .modal-wrap p {
        padding: 15px 20px 0 20px;
    }
}

.share-project .fa {
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    padding-top: 4px;
    margin: 0.2rem;
    font-size: large !important;
}
.share-project .fa:hover {
    opacity: 0.7;
}

/* Facebook */
.fa-facebook {
    background: #3b5998;
    color: white;
}
/* Twitter */
.fa-twitter {
    background: #55acee;
    color: white;
}

/* ------------------ VIDEO --------------- */
.video-parent {
    grid-row: 1;
    grid-column: 2;
}
[style*="--aspect-ratio"] > :first-child {
    width: 100%;
}
[style*="--aspect-ratio"] > img {
    height: auto;
}
@supports (--custom: property) {
    [style*="--aspect-ratio"] {
        position: relative;
        align-self: end;
    }
    [style*="--aspect-ratio"]::before {
        content: "";
        display: block;
        padding-bottom: calc(100% / (var(--aspect-ratio)));
    }
    [style*="--aspect-ratio"] > :first-child {
        position: absolute;
        bottom: 0;
        left: 0;
        align-self: flex-end;
        height: 100%;
    }
}
