$background-colour: rgb(255, 255, 255);
$background-colour-dark: rgb(25, 27, 27);
$highlight-colour: rgb(177, 177, 177);
$section-background: #f2f2f2;
$creation-colour: yellow;
$brand-colour:#e4ff00;
$modification-colour: lightgray;
$deletion-colour: red;
$color-link:  rgb(90, 90, 90);
$color-link-hover: rgb(163, 163, 163);
$button-border: 0.2rem;
$input-border: 0.1rem;
$light-border: 0.05rem;
$text-colour: rgb(0, 0, 0);
$font-family-title: "Montserrat", sans-serif;
$font-family-subtitle: "Montserrat", sans-serif;
$font-family-button: "Montserrat", sans-serif;
$font-family-input: "Montserrat", sans-serif;
$font-family-description: "Montserrat", sans-serif;
$font-size-button: 0.7rem;
$offset: 1rem;
